<div class="container">

  <%= form_for :q, {url: '/search'} do |f| %>

    <div class="form-group row" id="search-input-group">
      <div class="col-sm-10">  
        <%= f.label :query_string, "I'm searching for:", class: 'col-form-label' %>
        <%= f.text_field :query_string, { class: 'form-control', placeholder: 'keyword(s)', type: 'search'} %>
        <small id="input-instructions">Separate each search term or phrase with a comma.</small>
      </div>
    </div>

    <div class="form-group row" id="search-options">
      <div class="col-sm-10">
        <legend class="col-form-legend">Search options: </legend>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <%=f.radio_button :search_opts, "default", {class: 'form-check-input', checked: true} %>
            Default
          </label>

        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <%=f.radio_button :search_opts, "custom", {class: 'form-check-input'} %>
            Custom
          </label>

        </div>
      </div>
    </div><!--search options selectors -->
    
    <div class="form-group row search-opts" id="inclusive-search" style="display:none;">
      <div class="col-sm-10">  
        <legend class="col-form-legend">Search only in these fields:</legend>

            <div class="form-check-inline">
              <label class="form-check-label">
                <%= f.check_box :includes, {multiple: true, class: 'form-check-input'}, "artists", nil %>
                Artist Name
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <%= f.check_box :includes, {multiple: true, class: 'form-check-input'}, "albums", nil %>
                Album Title
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <%= f.check_box :includes, {multiple: true, class: 'form-check-input'}, "songs", nil %>
                Song Title
              </label>
            </div>

      </div>
    </div><!--inclusive search options -->

    <div class="form-group row search-opts" id="narrowed-search" style="display:none; disabled:true">
      <div class="col-sm-10">
        <h1>OR</h1>
        <h4>Narrow your search by album or artist.</h4>
        <p>(Leave the keyword box blank to find all songs by artist, album or both.)</p>
        <div class="form-group row" id="first-parameter">
          <div class="col-sm-10">
            <legend class="col-form-legend">
              Search within:
            </legend>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <%= f.radio_button :narrow_by, "artist", {class: 'form-check-input', checked: true} %>
                Artist
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <%= f.radio_button :narrow_by, "album", {class: 'form-check-input'} %>
                Album
              </label>
            </div>
            <%=f.text_field :narrow_query, class: 'form-control' %>
            <%=f.collection_select :narrow_query, @artists, :id, :name %>
          </div>
        </div> <!-- first parameter group -->
      </div>
    </div><!--restrictive search options -->


    <%= button_tag "Search", type: "Submit", class: "btn btn-primary" %>

  <% end %>

  <div class="row" style="display: none;" id="search-results">

  </div>






</div><!--container -->




